@import 'tailwindcss';

@variant dark (&:where(.dark, .dark *));
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@import "../../node_modules/preline/variants.css";

@source "../../node_modules/preline/dist/*.js";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    
    --color-brand-50: var(--color-indigo-50);
    --color-brand-100: var(--color-indigo-100);
    --color-brand-200: var(--color-indigo-200);
    --color-brand-300: var(--color-indigo-300);
    --color-brand-400: var(--color-indigo-400);
    --color-brand-500: var(--color-indigo-500);
    --color-brand-600: var(--color-indigo-600);
    --color-brand-700: var(--color-indigo-700);
    --color-brand-800: var(--color-indigo-800);
    --color-brand-900: var(--color-indigo-900);
    --color-brand-950: var(--color-indigo-950);
}

@layer base {
    html {
        color-scheme: light;
        scroll-behavior: smooth;
    }

    body {
        @apply antialiased text-gray-900 bg-gray-50/50;
    }

    /* Custom Scrollbar */
    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background: var(--color-gray-300);
        border-radius: 5px;
        border: 2px solid transparent;
        background-clip: content-box;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: var(--color-gray-400);
        background-clip: content-box;
    }
}
